# Archivos temporales o generados
node_modules/
*.log
npm-debug.log*

# Archivos de construcción
dist/
build/

# Credenciales y claves
.env
config.js

# Entornos específicos
.DS_Store
Thumbs.db

# Otros
*.zip
*.gz
